certifi==2021.10.8
click==8.0.3
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
ffmpeg==1.4
Flask==2.0.2
Flask-Cors==3.0.10
fonttools @ file:///Users/runner/miniforge3/conda-bld/fonttools_1638544491166/work
itsdangerous==2.0.1
Jinja2==3.0.3
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/kiwisolver_1635837079485/work
MarkupSafe==2.0.1
matplotlib @ file:///Users/runner/miniforge3/conda-bld/matplotlib-suite_1639359034653/work
munkres==1.1.4
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1636145439860/work
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
opencv-python==4.5.4.60
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1637239678211/work
Pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1636559170621/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1636757021002/work
pytesseract==0.3.8
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1635819723809/work
unicodedata2 @ file:///Users/runner/miniforge3/conda-bld/unicodedata2_1637177897830/work
Werkzeug==2.0.2
